@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

:root {
    --main: #404EED;
    --bg: #FCFCFC;
    --details: #F2F2F2;
    --darkDetails: #818181;
    --button: #C4C4C4;
    --black: #000;
    --white: #FFF;
}
.loading{
    background-color: var(--main);
}
.windowHeader {
    background-color: var(--main);
    width: 100vw;
    height: 89px;
    display: flex;
    align-items: center;
    padding-left: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

/* .logoImg {
    
} */
.logoName {
    font-family: 'New Rocker', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    margin-left: 16px;
    color: var(--white);
}

.container,
.content,
.products,
.landing,
.modelList,
.neckList,
.materialList,
.elementList,
.option,
.productsFooter,
.productsFooter div,
.contentFooter,
.lastOrderList,
.lastOrderListItem,
.lastOrderImg,
.modalLogin,
.loginContent {
    display: flex;
}

.modelList,
.neckList,
.materialList {
    flex-direction: row;
    justify-content: space-between;
    height: 160px;
    width: 40vh;
}

.container {
    padding-top: 89px;
    flex-direction: column;
}

.content,
.contentFooter {
    width: 100vw;
}

.products,
.landing {
    width: 50vw;
    height: 78.5vh;
    align-items: center;
}

.products {
    background-color: var(--white);
    flex-direction: column;
    justify-content: space-evenly;
}

.elementList {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.option {
    background-color: var(--details);
    border: 0.5px solid var(--button);
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.option:hover {
    box-shadow: 2px 2px var(--darkDetails);
}

.landing {
    background-color: var(--main);
    justify-content: center;

}

.productsFooter {
    width: 40vh;
    height: 134px;
    flex-direction: column;
    justify-content: space-between;
}

.productsFooter div {
    height: 70px;
    flex-direction: column;
    justify-content: space-between;
}

.insertLink,
.confirmOrder,
.loginInput,
.loginButton {
    height: 40px;
    border-radius: 10px;
}

.insertLink,
.loginInput {
    background-color: var(--details);
    padding-left: 16px;
    border: none;
}

.insertLink::placeholder,
.loginInput::placeholder {
    color: var(--darkDetails);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.insertLink:focus,
.loginInput:focus {
    outline: 0.5px solid var(--button);
}

.confirmOrder {
    border: none;
    color: var(--bg);
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.contentFooter {
    background-color: var(--details);
    height: 34.2vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.bold {
    font-weight: 700;
}

.lastOrder,
.lastOrderList {
    width: 69vw;
}

.lastOrder {
    height: 28px;
    left: 121.99px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: var(--black);
}

.lastOrderList {
    gap: 16px;
    overflow-x: scroll;
}

.lastOrderList::-webkit-scrollbar {
    display: none;
}

.lastOrderListItem {
    background-color: var(--bg);
    min-width: 202px;
    min-height: 236px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.lastOrderImg {
    height: 180px;
    width: 180px;
    justify-content: center;
    align-items: center;
}

.modalLogin {
    background-color: var(--main);
    position: fixed;
    transition: all .5s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginContent {
    height: 25vh;
    width: 25vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.loginContent > p {
    color: var(--details);
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.loginInput,
.loginButton {
    width: 100%;
}

.loginButton {
    transition: all .5s;
    background-color: var(--button);
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.disabled {
    background-color: var(--button);
}

.enabled {
    background-color: var(--main);
}

.enabledLoginButton {
    background-color: greenyellow;
    color: var(--black);
}

.selected {
    border: 3px solid var(--main);
}

.hidden {
    display: none;
}

@media (min-width: 1921px) {

    .lastOrder,
    .lastOrderList {
        width: 66vw;
    }
}

@media (max-width: 1280px) {

    .lastOrder,
    .lastOrderList {
        width: 82vw;
    }
}